body {
    margin: 0;
    font-family:"Lucida Grande";
}

a{
    text-decoration: none;
}

.container {
    width : 100%;
    padding : 0 15px;
    margin : 0 auto ;
}

.intro-wrapper{
    padding: 180px 0 400px 0;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover ;
    color:white;
    text-align:center;
}


   

.intro-wrapper h1{
    opacity:  0.7;
    color: darkslategrey;
    font-size: 50px;
    padding-bottom: 150px;
    letter-spacing: 8px;
    margin-bottom: -10px;
}
header {
    height: 50px;
    width:100%;
    background-color:  #323538;
    color: white;
    position: relative;

}
.header-left h3{
    color:  #ffffff;
    font: normal 36px 'Cookie';
    margin: 4px -1px;
    padding-right:15px;
    float:left;
}
.header-left h3 span{
    color:teal;
}
.header-right{
    float: right;
    background-color: #323538;
    transition: all 0.5s;
}
.logo{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.header-right a{
    float:left;
    line-height:50px;
    padding : 0 25px;
    color:white;
    display:block;

}


.header-right a:hover {
    background-color:teal;
}

.dropbtn {
    background-color: #323538;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover {
    background-color: teal;
  }
  .dropbtn:focus{
      background-color:#323538 ;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.about {
    text-align:center;
    padding: 100px 0 100px 0;
    background-color: teal ;
}
.about h2{
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
    opacity: 0.6;

}
.cards-wrapper{
    height: 400px;
    padding-bottom: 80px;
    background-color:#f0ecf1 ;
    text-align: center;
    padding-top: 50px;
}
.cards{
    float:left;
    width:25%;
}
.card-icon{
    position: relative;
}
.card-icon p{
    position: absolute;
    top:-35px;
    width:100%;
    font-size: 20px;
    color: darkslategrey    ;
    font-weight: bolder;
    font-style: italic;
    font-family: Lucida Grande ;
    margin-bottom: 10px;
}
.content{
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size:20px;
    color:rgb(116, 128, 146);
    font-style: italic;
}
.how-it-works-wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:right;
    padding-left: 30px ;
    width: 100%;
}
.how-it-works-wrapper h2{
    margin-bottom: 15px;
    padding-left: 50px;
    font-weight: 400;
    font-size: 25px;
    line-height: 1;
    color:#222;
    font-weight: 400;
    letter-spacing: .8px;
}
.how-it-works-wrapper p{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 15px;
    color:#2e3c40;
}

ul{
    list-style: none;
}
.process-listing{
    float: left;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 20px;
}

.process-listing li{
    float: left;
    width:100%;
    margin-bottom: 25px;
}
.number-left{
    float:left;
    width: 42px;
    height: 42px;
    border: 2px solid #ebebeb;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    margin-top: 0;
    border-radius: 50%;
    font-weight: 600;
}
.process-content-right {
    float: initial;
    width: max-content;
    padding-left: 15px;
    margin-top: -7px;
}
.process-content-right h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #293341;
}
.process-content-right p{
    float: left;
    width: 100%;
    color: #2e3c40;
    box-sizing: border-box;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.search-box{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.search-box .input{
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: teal;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.message-wrapper{
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
.message{
    padding: 15px 40px;
    background-color: teal;
    border-radius: 5%;
    color: rgb(226, 211, 211);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    cursor: pointer;
    box-shadow: 0 7px darkslategrey;
}
.message:active{
    position: relative;
    top:7px;
    box-shadow: none;
}

footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  teal;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
    color:  inherit;
    padding-right: 8px;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 

 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
@media (max-width : 770px){
    bodY{
        display: none;
    }
}

